@import './../../../vars.scss';

.product {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;

  &__outbox {
    align-self: center;
    max-width: 1250px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__link {
    padding: 0 3rem;
    font-size: $fs-medium;
    color: $navy-dark;
    display: flex;
    gap: 1rem;
    max-width: max-content;
    font-weight: 500;

    @media screen and (min-width: $bp-1000) {
      font-size: $fs-large;
    }
  }

  &__main {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;

    @media screen and (min-width: $bp-1000) {
      flex-direction: row;
    }
  }

  &__pictures {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__mainPictureBox {
    max-height: 400px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
  }

  &__mainPicture {
    width: 100%;
    border-radius: 3px;
  }

  &__picturesBox {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5rem;
  }

  &__littleImg {
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    padding: 0.1rem;
    opacity: 0.75;
  }

  &__littleImgSelected {
    border: 2px solid $navy-dark;
    border-radius: 3px;
    opacity: 1;
  }

  &__details {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    @media screen and (min-width: $bp-1000) {
      gap: 2.5rem;
    }
  }

  &__name {
    font-size: $fs-large;
    color: $navy-dark;
    font-weight: 600;
    line-height: 2.5rem;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-large * 1.5;
    }

    @media screen and (min-width: $bp-1000) {
      font-size: $fs-large * 1.75;
    }
  }

  &__price {
    font-size: $fs-small;
    color: $navy-dark;
    font-weight: 500;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-medium;
    }
  }

  &__description {
    font-size: $fs-small;
    color: rgba($navy-light, 0.8);
  }

  &__detailBox {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__intro {
    font-size: $fs-small;
    color: $navy-dark;
    font-weight: 500;
  }

  &__available {
    font-size: $fs-small;
    color: $navy-dark;
  }

  &__colors {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__color {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.5;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__colorIcon {
    color: white;
    font-size: $fs-large;
  }

  &__sizes {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__size {
    font-size: $fs-small;
    color: $navy-dark;
    padding: 0.025rem 0.5rem;
    border-radius: 3px;
    cursor: pointer;
  }

  &__sizeSelected {
    background-color: $navy-dark;
    color: white;
  }

  &__btn {
    margin-top: 0.5rem;
    font-size: $fs-small;
    color: $navy-dark;
    font-weight: 600;
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;

    @media screen and (min-width: $bp-1000) {
      font-size: $fs-medium;
    }
  }

  &__btnIcon {
    font-size: $fs-large;

    @media screen and (min-width: $bp-1000) {
      font-size: $fs-large * 1.5;
    }
  }
}
