.navbar {
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 1250px;
  z-index: 1000;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 3rem;
  position: relative;
}

.navbar__title {
  font-size: 3rem;
  color: #102a42;
}

.navbar__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.navbar__link {
  font-size: 1.75rem;
  color: #324d67;
}

.navbar__boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2rem;
}

.navbar__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 0.75rem;
  position: relative;
}

.navbar__sizeOfCart {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: -1rem;
  right: -1rem;
  font-size: 1.75rem;
  background-color: #f1f5f8;
  color: #102a42;
  border-radius: 50%;
  text-align: center;
  font-weight: 600;
}

.navbar__icon {
  font-size: 3.975rem;
  color: #102a42;
}

.navbar__boxLink {
  font-size: 1.75rem;
  color: #102a42;
}

.navbar__toggle {
  font-size: 3.5rem;
  color: #102a42;
  cursor: pointer;
}

.navbar__model {
  background-color: white;
  position: absolute;
  top: 8.5rem;
  left: 0;
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 3rem;
  z-index: 1000;
  padding: 1rem;
}

.navbar__modelLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar__modelLink {
  font-size: 1.75rem;
  color: #324d67;
  padding: 1.5rem 3rem;
}

.navbar__modelBoxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.navbar__modelBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  position: relative;
}

.navbar__modelIcon {
  font-size: 3.75rem;
  color: #102a42;
}

.navbar__modelBoxLink {
  font-size: 1.75rem;
  color: #102a42;
}
/*# sourceMappingURL=Navbar.module.css.map */