.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7.5rem;
}

.titleBox {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100%;
  max-width: 1250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 3rem;
  min-height: 40rem;
  gap: 5rem;
}

.titleBox__left {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2rem;
}

.titleBox__title {
  font-size: 3.8rem;
  color: #102a42;
  font-weight: 700;
}

@media screen and (min-width: 899px) {
  .titleBox__title {
    font-size: 4rem;
  }
}

.titleBox__text {
  font-size: 1.75rem;
  color: rgba(50, 77, 103, 0.75);
}

.titleBox__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 1.75rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #102a42;
  font-weight: 600;
}

.titleBox__right {
  display: none;
  width: 100%;
}

@media screen and (min-width: 899px) {
  .titleBox__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.titleBox__img {
  width: 100%;
  min-width: 35rem;
  max-width: 42.5rem;
  border-radius: 3px;
}

.featured {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
  padding: 5rem 3rem;
  background-color: #f1f5f8;
}

@media screen and (min-width: 599px) {
  .featured {
    gap: 5rem;
  }
}

.featured__title {
  font-size: 2.5rem;
  color: #102a42;
  font-weight: 600;
}

@media screen and (min-width: 599px) {
  .featured__title {
    font-size: 3.2rem;
  }
}

.featured__products {
  max-width: 1250px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media screen and (min-width: 599px) {
  .featured__products {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 899px) {
  .featured__products {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.featured__product {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
}

@media screen and (min-width: 599px) and (max-width: 899px) {
  .featured__lastProduct {
    grid-column: span 2;
  }
}

.featured__productImg {
  width: 100%;
  border-radius: 3px;
}

.featured__productBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.featured__productTitle {
  font-size: 1.5rem;
  font-weight: 500;
  color: #102a42;
}

.featured__productPrice {
  font-size: 1.5rem;
  font-weight: 500;
  color: #102a42;
}

.featured__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
  font-size: 1.5rem;
  color: #102a42;
  font-weight: 600;
}

.aboutUs {
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 1250px;
  padding: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 2.5rem;
}

@media screen and (min-width: 899px) {
  .aboutUs {
    gap: 5rem;
  }
}

.aboutUs__titleBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}

@media screen and (min-width: 899px) {
  .aboutUs__titleBox {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.aboutUs__title {
  font-size: 2.5rem;
  color: #102a42;
  font-weight: 600;
}

@media screen and (min-width: 599px) {
  .aboutUs__title {
    font-size: 3.2rem;
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }
}

.aboutUs__message {
  font-size: 1.5rem;
  color: rgba(50, 77, 103, 0.75);
}

@media screen and (min-width: 899px) {
  .aboutUs__message {
    font-size: 1.75rem;
  }
}

.aboutUs__cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 2.5rem;
}

@media screen and (min-width: 599px) {
  .aboutUs__cards {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 899px) {
  .aboutUs__cards {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.aboutUs__card {
  border-radius: 3px;
  padding: 5rem 1rem;
  background-color: #f1f5f8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
}

@media screen and (min-width: 899px) {
  .aboutUs__card {
    padding: 5rem 2rem;
  }
}

@media screen and (min-width: 599px) and (max-width: 899px) {
  .aboutUs__lastCard {
    grid-column: span 2;
    padding: 5rem;
  }
}

.aboutUs__cardIcon {
  font-size: 4rem;
  color: #102a42;
}

.aboutUs__cardTitle {
  font-size: 2rem;
  color: #102a42;
  font-weight: 500;
}

.aboutUs__cardMessage {
  font-size: 1.5rem;
  color: rgba(50, 77, 103, 0.75);
  text-align: center;
}
/*# sourceMappingURL=Home.module.css.map */