@import './../../../vars.scss';

.products {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;

  &__main {
    width: 100%;
    align-self: center;
    max-width: 1250px;
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__mainTitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media screen and (min-width: $bp-1000) {
      justify-content: flex-end;
    }
  }

  &__listBtn {
    font-size: $fs-large * 1.5;
    color: $navy-dark;
    cursor: pointer;
  }

  &__sizeBox {
    display: flex;
    gap: 0.5rem;

    @media screen and (min-width: $bp-600) {
      gap: 1rem;
    }
  }

  &__size {
    font-size: $fs-small;
    color: $navy-dark;
    align-self: flex-end;
    width: max-content;
    font-weight: 600;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-medium;
    }
  }

  &__productIconA {
    font-size: $fs-large * 1.25;
    color: #28a745;
    cursor: pointer;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-large * 1.4;
    }
  }

  &__mainContent {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 2.5rem;

    @media screen and (min-width: $bp-1000) {
      grid-template-columns: 200px 1fr;
    }
  }

  &__edits {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 0 1rem;
  }

  &__input {
    width: 100%;
    outline: none;
    border: none;
    background-color: #f1f5f8;
    padding: 0.5rem 1rem;
    border-radius: 3px;
  }

  &__editsBox {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__outerBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__boxTitleBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__boxTitle {
    font-size: $fs-medium;
    font-weight: 600;
    color: $navy-dark;
    text-transform: uppercase;
  }

  &__boxIcon {
    font-size: $fs-medium;
    color: #28a745;
    cursor: pointer;
  }

  &__innerBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__editItemBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__editItem {
    font-size: $fs-small;
    color: $navy-dark;
    cursor: pointer;
    width: max-content;
  }

  &__selected {
    border-bottom: 1px solid currentColor;
  }

  &__editItemIcon {
    font-size: $fs-small;
    color: #bb2525;
    cursor: pointer;
  }

  &__priceNumber {
    font-size: $fs-small;
    color: $navy-dark;
  }

  &__priceSlider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: #f1f5f8;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    border-radius: 3px;
    overflow: hidden;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 12.5px;
      height: 25px;
      background: $navy-dark;
      cursor: pointer;
    }

    &::-moz-range-thumb {
      width: 12.5px;
      height: 25px;
      background: $navy-dark;
      cursor: pointer;
    }
  }

  &__btnClear {
    font-size: $fs-small;
    color: $navy-dark;
    background-color: #f1f5f8;
    padding: 0.1rem 0.5rem;
    border-radius: 3px;
    font-weight: 600;
    cursor: pointer;
    width: max-content;
  }

  &__products {
    height: max-content;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1.5rem;

    @media screen and (min-width: $bp-600) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: $bp-1000) {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  &__productBox {
    width: 100%;
    position: relative;
    overflow: hidden;
  }

  &__product {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  &__icons {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row-reverse;
    gap: 0.35rem;
    background-color: white;
    padding: 0.1rem 0.35rem;
    border-bottom-left-radius: 3px;
  }

  &__productIconD {
    font-size: $fs-medium;
    cursor: pointer;
    color: #bb2525;
  }

  &__productIconE {
    font-size: $fs-medium;
    cursor: pointer;
    color: #ffc107;
  }

  &__productImg {
    border-radius: 3px;
    width: 100%;
  }

  &__productBox {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__productName {
    font-size: $fs-small;
    color: $navy-dark;
    text-transform: none;
  }

  &__productPrice {
    font-size: $fs-small;
    color: $navy-dark;
  }
}
