@import './../../../vars.scss';

.signUp {
  display: flex;
  flex-direction: column;
  gap: 7.5rem;
  min-height: 100vh;

  &__form {
    padding: 0 3rem;
    width: 100%;
    max-width: 1250px;
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }

  &__formBox {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-medium;
    }
  }

  &__label {
    font-size: $fs-small;
    color: $navy-dark;
    font-weight: 500;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-medium;
    }
  }

  &__input {
    padding: 1rem;
    font-size: $fs-small;
    color: $navy-dark;
    background-color: #f1f5f8;
    border: none;
    outline: none;
    border-radius: 3px;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-medium;
    }
  }

  &__buttonsBox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
  }

  &__link {
    font-size: $fs-small;
    color: $navy-dark;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-medium;
    }
  }

  &__icon {
    font-size: $fs-large;
  }

  &__btn {
    font-size: $fs-small;
    color: $navy-dark;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    @media screen and (min-width: $bp-600) {
      font-size: $fs-medium;
    }
  }
}
